::selection {
    background-color: #FFD11A;
}

body {
    background-color: #f0f0f0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    color: #303030;
}

main {
    margin: 10px;
}

textarea {
    border: 3px solid #303030;
    border-radius: 5px;
    font-size: 18px;
}

button {
    background-color: #00000000;
    border: none;
    color: #FFD11A;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.addButton {
    position: absolute;
    right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 98%;
    border-radius: 10px;
}

li {
    padding: 10px 0px;
    margin: 0px 20px;
}

li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.notes {
    color: #707070;
}

strong {
    color: #303030;
}

.noteTaking {
    text-align: start;
    background-color: #ffffff;
    overflow: hidden;
}

.noteTaking > textarea {
    border: none;
    outline: none;
    font-size: 18px;
    height: 95vh;
    width: 100vw;
}

.noteTaking > button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #00000000;
    color: #FFD11A;
    padding: 0;
}

.noteTaking > .delete {
    position: absolute;
    right: 0;
}

.noteTaking > p {
    text-align: center;
    font-size: 16px;
    color: #aaa;
    margin: 0px;
}

.instruction {
    text-align: center;
    margin: auto;
}

.instruction > img {
    border: 4px solid #000000;
    border-radius: 10px;
}